html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

#menu {
	position: fixed;
	top: 20px;
	left: 20px;
}

.btn {
	padding: 12px 14px;
	color: #fff;
	background-color: #555;

	font-size: 16px;
	line-height: 16px;
	text-align: center;

	margin-bottom: 8px;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn:hover {
	cursor: pointer;
	background-color: rgb(18, 36, 70);
}

#enter-vr {

}

#enter-vr.error {
	pointer-events: none;
	background-color: red;
}

